@page
@model InternetProvider.Pages.ClientPages.ClientCreateProviderModel
@{
    ViewData["Title"] = "Создание клиента";
    <h1>Добавление нового клиента</h1>
    <form method="post">
        <p>
            <label>Номер дома</label><br />
            <input name="number" />
        </p>
        <p>
            <label>Адрес</label><br />
            <input name="address" type="text" />
        </p>
        <input type="submit" value="Отправить" />
    </form>
}
