@page
@model InternetProvider.Pages.ProviderPages.CreateProviderModel
@{
    ViewData["Title"]="Создание провайдера";
    <h2>Добавление нового провайдера</h2>
    <form method="post">
        <p>
            <label>Наименование</label><br />
            <input name="name" />
        </p>
        <p>
            <label>Контактная информация</label><br />
            <input name="contactsInfo" type="text" />
        </p>
        <input type="submit" value="Отправить" />
    </form>
}
