@page "{id:int}"
@model EditProviderModel;
@using InternetProvider.Classes;
@{
    <title>Провайдеры</title>
    ViewData["Title"] = "Редактирование провайдера";
    <h1>@ViewData["Title"]</h1>
    <br />

    <form method="post">
        <h3>Введите наименование провайдера</h3>
        <input type="hidden" size="100" name="Id" value="@Model.Provider?.Id">
        <input type="text" size="100" name="Name" value="@Model.Provider?.Name">
        <br />
        <h3>Введите контактную информацию</h3>
        <input type="text" name="ContactsInfo" value="@Model.Provider?.ContactsInfo" />
        <br />
        <input type="submit" value="Сохранить"/>
    </form>

    

    <a asp-page="/Index">Назад</a>
}